/*@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";*/

.login-input {
    height: 30px;
    padding: 0px;
    font-size: 20px;
    margin: 5px 0;
    font-family: 'Roboto', 'FontAwesome', sans-serif;  
}

#inputs {
    position: absolute;
    top: 37%;
    left: 37%;
    right: 50%;    
}

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b7/BlankMap-World-1970.png");
    background-repeat: no-repeat;
    background-color:#ffffff;
    background-size: cover;
}
.container { 
  font-family:'Roboto', sans-serif;
  position: absolute;
  /*display: flex;*/   
  width: 40%; 
  height: 50%;
  margin: 50px 60px 60px 350px;
  /*display: block;*/
  background: #f5f5f0;
  padding: 50px 90px 100px 90px;
  box-shadow: 0 4px 15px 3px #95a5a6;
 ;  
}



 
button {
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    color: white;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    /*box-shadow: 0 4px #95a5a6;*/
} 

  
#btn-start {
    background-color: #00cc66;
    position: absolute;
    top: 65%;
    left: 45%;
    box-shadow: 0 4px #00802b;
      
} 
#btn-encr {
    background-color: #286090; 
    position: absolute;
    top: 44%;
    left: 25%;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 4px #002266;
}
#btn-decr {
    background-color: #C9302C;
    position: absolute;
    top: 44%;
    left: 38%; 
    box-shadow: 0 4px #862d2d; 
}
#btn-erase {
    background-color:#a6a6a6;
    position: absolute;
    top: 44%;
    left: 62%;
    box-shadow: 0 4px #95a5a6;   
}
#btn-back {
    background-color:#a6a6a6;
    position: absolute;
    top: 75%;
    left: 43%;
    right: 50%;
    box-shadow: 0 4px #95a5a6;   
}
#box-1 {
    position: absolute;
    top: 25%;
    left: 20%;
}
#box-2 {
    position: absolute;
    top: 55%;
    left: 20%;
}
#offset-box {
    position: absolute;
    top: 15%;
    left: 20%;
}

/*.buttons {
    display: flex;
    flex-flow: column wrap;  

}